.formContainer {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border: 0.25rem groove $primaryColor;

  textarea {
    width: 100%;
  }

  input[type=checkbox] {
    margin-right: 0.5rem;
  }
}

.form-check {
  padding-left: 0;
}

.form-check-label {
  display: unset;
}
