@import "constants";
@import "rs/styles";

.icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: $primaryColor
}

i {
  &.icon {
    color: $primaryColor;

    &.rs-facebook {
      color: #3b5998;
    }

    &.rs-instagram {
      color: #E1306C;
    }

    &.rs-whatsapp {
      color: #25D366;
    }

    &.rs-messenger {
      color: #00C6FF;
    }

    &.rs-mail {
      color: black;
    }

    &.rs-podcast {
      color: white;
      background: #8940fa;
      border-radius: 50%;
    }
  }
}

.btn-primary {
  i.icon {
    color: white;
  }
}

.rs-xs {
  font-size: .66em;
}

.rs-sm {
  font-size: .875em;
}

.rs-lg {
  font-size: 1.66667em;
  line-height: 0.75em;
  vertical-align: -.0667em;
}

.rs-1x {
  font-size: 1em;
}

.rs-2x {
  font-size: 2em;
}

.rs-3x {
  font-size: 3em;
}

.rs-star-full:before, .rs-star-half:before, .rs-star-empty:before {
  margin: 0.05rem
}

// Display icons

.rs-mail:before {
  content: '\e800';
}

/* '' */
.rs-messenger:before {
  content: '\e801';
}

/* '' */
.rs-facebook:before {
  content: '\e802';
}

/* '' */
.rs-star-full:before {
  content: '\e803';
}

/* '' */
.rs-skype:before {
  content: '\e804';
}

/* '' */
.rs-podcast:before {
  content: '\e805';
}

/* '' */
.rs-star-empty:before {
  content: '\e806';
}

/* '' */
.rs-star-half:before {
  content: '\f123';
}

/* '' */
.rs-link-ext:before {
  content: '\f14c';
}

/* '' */
.rs-instagram:before {
  content: '\f16d';
}

/* '' */
.rs-whatsapp:before {
  content: '\f232';
}

/* '' */
