.socialShare {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

footer {
  .socialShare {
    $margin: 4px;
    justify-content: center;
    margin-top: $margin;
    margin-bottom: $margin;
  }
}
