DirectorySlash Off

Require all granted
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*[^/])$ /$1/

RedirectMatch 307 ^(/gallery/categories/)(\d{4}.*)$ $1chronologisch\/$2
Redirect 307 /gallery/categories/regionen/zypern /gallery/categories/reisen/zypern
Redirect 307 /gallery/categories/regionen/prag /gallery/categories/reisen/prag
RedirectMatch 307 ^(/gallery/categories/)(regionen/)(.+)$ $1oesterreich/$3
