.carousel#testimonials {
  $size: 10em;
  background-color: $primaryColor;
  color: $accentColor;
  max-height: $size;
  height: $size;
}

.navbar-brand, h1, h2, h3, h4, h5, h6 {
  color: $accentColor !important;
}

.navbar-brand {
  $h: 40px;
  height: $h;
  width: 220px;

  .pic-holder, div.lazy, img {
    max-height: $h;
  }

  .pic-holder {
    margin-top: -2.5px;
    height: 100%;
  }

  div.lazy {
    padding-top: 0 !important;

  }
}

.btn {
  &.btn-primary {
    color: $accentColor;
  }
}


