$primaryColor: #27ae60; // Material Nephritis
$accentColor: #2ecc71; // Material Emerald
$accentWhite: rgba(#fafafa, 0.92);

$maxImageHeight: 80vh;
$maxCarouselHeight: calc(85vh - 8.7rem - 2 * 20px);
$maxCarouselImageHeight: calc(85vh - 5vh - 8.7rem - 2 * 20px);

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}
