.carousel {
  $h: 75vh;
  max-height: $h;
  height: $h;
  margin-bottom: 16px;

  .carousel-inner, .carousel-item, .pic-holder, div.lazy, img {
    height: 100%;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    padding: 20px;
    background-size: 20px;
    font-size: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }

  img {
    vertical-align: middle;
  }
}