#carousel {
  background: black;
  padding: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  picture {
    img {
      margin: 0 auto;
      width: 100%;
      height: calc(100vh - 10rem);
    }
  }
}