.carousel {
  $hDefault: 75vh;

  &#testimonials {
    $h: 20em;
    max-height: $h;
    height: $h;
    color: $primaryColor;
    margin-bottom: 0;

    p {
      margin: 0;
      font-size: 1.5em;
      line-height: 1.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      font-style: italic;
      width: 100%;
      height: 100%;
      overflow-y: auto;

      span {
        max-height: 70%;
        overflow-y: auto;
        text-align: center;
        width: 70%;;
      }
    }
  }

  max-height: $hDefault;
  height: $hDefault;

  .carousel-inner, .carousel-item, .pic-holder, div.lazy, img {
    height: 100%;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    padding: 20px;
    background-size: 20px;
    font-size: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }

  img {
    vertical-align: middle;
  }

  & + * {
    margin-top: 16px;
  }
}