
.gallery {
  display: flex;

  &.single {
    align-content: center;
  }

  &.multiple {
    $thumbnailSize: 300px;

    picture {
      max-width: $thumbnailSize;
      max-height: $thumbnailSize;
      $margin: 0.4rem;
      margin-top: $margin;
      margin-bottom: $margin;

      img {
        max-height: $thumbnailSize;
        height: 100%;
      }
    }
  }

  picture {
    cursor: pointer;
  }
}

picture {
  margin: 0 auto;

  img {
    width: 100%;
    max-height: $maxImageHeight;
  }
}

// Ensure correct dimensions of a lazy loaded image
.lazy {
  min-height: 1rem;
  display: inline-block;
  max-width: 100%;

  img {
    max-width: 100%;

    object-fit: contain;
  }
}