.gallery {
  display: flex;
  $margin: 8px;
  margin-bottom: 16px;

  &.multiple {
    $thumbnailSize: 400px;

    .pic-holder {
      @include media-breakpoint-up(sm) {
        max-height: $thumbnailSize;
        height: $thumbnailSize;
      }

      margin-top: $margin;
      margin-bottom: $margin;

      div.lazy {
        position: initial;
        display: inline-block;

        img {
          max-width: calc(100% - 2 * 15px); // Fill parent minus padding

          height: 100%;
          vertical-align: middle;
        }
      }
    }
  }

  img {
    cursor: pointer;
  }

}

// Align the subcategories view
.category-thumbnails {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .card {
    width: 300px;

    .card-img-top {
      $h: 200px;
      max-height: $h;

      img {
        max-height: $h;
      }

    }

    a {
      display: contents;
    }

  }
}

// Photoswipe added additional button
.pswp__button {
  &.pswp__button--details {
    //noinspection CssUnknownTarget
    background-image: url("/css/info-circle.svg");
    background-size: contain;
    transform: scale(0.5);
  }
}

.pswp__button--share {
  background-position: -44px -44px;
}
