
.gallery {
  display: flex;

  &.single {
    align-content: center;
  }

  &.multiple {
    $thumbnailSize: 300px;

    picture {
      max-width: $thumbnailSize;
      max-height: $thumbnailSize;
      $margin: 0.4rem;
      margin-top: $margin;
      margin-bottom: $margin;

      img {
        max-height: $thumbnailSize;
        height: 100%;
      }
    }
  }

  picture {
    cursor: pointer;
  }
}

picture {
  margin: 0 auto;
  // Ensure correct dimensions of a lazy loaded image
  &.lazy {
    min-height: 1rem;
    display: inline-block;
    max-width: 100%;

    img {
      max-width: 100%;
      width: 100%;
      max-height: $maxImageHeight;
      object-fit: contain;
    }
  }
}

// Align the subcategories view
.category-thumbnails {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .card {
    $h: 33vh;
    min-height: $h;
    max-height: $h;

    .lazy {
      display: inline;
    }

    img {
      max-height: $h - 10vh;
      margin: 0 auto;
      display: block;
    }
  }

  div {
    max-width: 33.33%;
    min-width: 300px;
    @media (max-width: 660px) {
      min-width: 80%;
    }

    margin: 0.5rem;

    picture {
      margin: 0 auto;
    }
  }
}

// Photoswipe added additional button
.pswp__button {
  &.pswp__button--details {
    background-image: url("/static/info-circle.svg");
    background-size: contain;
    transform: scale(0.5);
  }
}

.pswp__button--share {
  background-position: -44px -44px;
}