div {
  $margin: 8px;

  .pic-holder {
    position: relative;
    max-height: $maxImageHeight;
    overflow: hidden;

    &.solo {
      margin-bottom: 1rem;
    }

    div.lazy {
      position: relative;
      box-sizing: border-box;
      max-height: $maxImageHeight;
      width: 100%;
      max-width: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        max-height: $maxImageHeight;
        object-fit: contain;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
      }
    }
  }
}

p {
  & > img {
    display: block;
    margin: 0 auto;
  }
}
