.offer {
  align-items: stretch;
  justify-content: space-around;

  div {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .card-header, .card-footer {
    margin-bottom: unset;
    background-color: unset;
  }
}