.reviews {
  display: flex;
  padding-bottom: 1rem;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;

  .card {
    margin-top: 1rem;
    padding: 0;

    .pic-holder {
      $maxH: 50vh;
      height: $maxH;

      div.lazy {
        height: $maxH;

        img {
          max-height: $maxH;
          height: 100%;
          vertical-align: middle;
        }
      }
    }

    .card-text {
      overflow-y: auto;
      max-height: 25vh;
      padding-right: 4px;
    }
  }
}
