@import "constants";
@import "rs/styles.css";

.icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: $primaryColor
}

i {
  &.icon {
    color: $primaryColor
  }
}

.rs-xs {
  font-size: .66em;
}

.rs-sm {
  font-size: .875em;
}

.rs-lg {
  font-size: 1.66667em;
  line-height: 0.75em;
  vertical-align: -.0667em;
}

.rs-1x {
  font-size: 1em;
}

.rs-2x {
  font-size: 2em;
}