* {
  box-sizing: border-box;
}

.img-comp-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 500px) {
    transform: translateX(-50%) scale(0.9);
  }
  @media (max-width: 400px) {
    transform: translateX(-50%) scale(0.8);
  }
  @media (max-width: 360px) {
    transform: translateX(-50%) scale(0.7);
  }
  @media (max-width: 300px) {
    transform: translateX(-50%) scale(0.6);
  }
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: $primaryColor;
  opacity: 0.7;
  border-radius: 50%;
}

.img-comp-container {
  margin: 12px;
}