.btn-primary {
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
}

.btn-flex {
  display: flex;
  flex-wrap: wrap;

  a {
    margin: 2.5px;
  }
}

h1 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  a {
    color: black !important;
  }
}

a.black {
  color: black !important;
}

main {
  margin-top: 1rem;
}

// Navbar backgroudn color
.bg-dark {
  background-color: $primaryColor !important;
}

// Navbar
.navbar {
  @extend .bg-dark;

  .nav-link {
    color: $accentWhite !important;

    &:hover {
      color: white !important;
    }
  }
}

.card {
  margin: 4px;
}


// Image overview page
#content {
  &.singleImage {
    .card {
      padding: 0.67rem;
      margin-top: 1rem;
    }
  }
}

footer {
  span {
    &.text-muted {
      display: flex;
      justify-content: space-around;
      margin-bottom: 0.5em;
    }
  }

  .socialIcons {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

.dropdown-menu {
  overflow-y: auto;

  max-height: 33.333vh;
}

table {
  margin: 0 auto;

  td, th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }

  thead {
    td, th {
      vertical-align: bottom;
      border-bottom: 3px solid #dee2e6;
    }
  }
}

a {
  &.black {
    color: black;
    text-decoration: black;
  }
}

.center {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

iframe {
  &.center {
    display: block;
  }
}

a, a:hover, a:active, a:visited {
  .white {
    color: white;
  }
}

.sup {
  vertical-align: super;
}

.sub {
  vertical-align: sub;
}

iframe {
  max-width: 100%;
}