/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {List}            - text-shadow list
@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
    @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}

/// Stroke font-character
/// @param  {Integer} $stroke - Stroke width
/// @param  {Color}   $color  - Stroke color
/// @return {Style}           - text-shadow
@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

.fill-remaining-space {
  flex: 1 1 auto;
}

div.button-row {
  z-index: 100;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  margin-bottom: 1.5rem;

  mat-card {
    width: fit-content;
    padding: unset;

    button, a {
      display: table-cell;
      margin-right: 8px;
    }
  }

  &.hide {
    position: absolute;
    bottom: -4rem;
    opacity: 0;
    transition: .5s ease-in-out all;
  }

  &.show {
    opacity: 100;
    bottom: 0;
    transition: .4s ease-in-out all;
  }
}


div.mat-toolbar, div.mat-primary {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 0rem;

  & .mat-toolbar-single-row {
    height: auto !important;
  }

  div.row {
    display: inline-flex;
    align-items: baseline;
    width: fit-content;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

    &.smaller {
      zoom: 0.75;
    }
  }

  mat-form-field {
    width: 100px;
  }

  &.hide {
    position: absolute;
    top: -5rem;
    opacity: 0;
    transition: .5s ease-out all;
  }

  &.show {
    opacity: 100;
    top: 0;

  }
}


div.fullHeight {

  mat-toolbar {
    flex-grow: 0;
  }

  div.content {
    padding: 1rem;
    flex-grow: 1;
    overflow-y: auto;

    &.preview {
      display: flex;
      flex-direction: column;
      overflow-y: hidden;

      .previewMode {

      }
    }

    /*  @media (orientation: landscape) {
        column-count: 2;
        column-gap: 2rem;
        column-rule-style: solid;
        column-rule-width: 1px;
      }*/
  }
}

