$mainColor: #27ae60; // Material Nephritis
$accentColor: #2ecc71; // Material Emerald
$accentWhite: #f5f5f5;

h1 {
  font-size: 2rem;
}

main {
  padding-top: 1.5rem;
}

.lazy {
  min-height: 1rem;
  display: inline-block;
  max-width: 100%;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.gallery {
  &.single {
    display: flex;
    align-content: center;

    picture {
      margin: 0 auto;

      img {
        max-height: calc(100vh - 7rem);
      }
    }
  }
}

.bg-dark {
  background-color: $mainColor !important;
}

nav {
  a {
    color: $accentWhite;

    &:hover {
      color: white;
    }
  }
}

main {
  padding-top: 4rem;
}

.footer {
  background-color: $accentWhite;

  .container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
