@import "../css/photoswipe/default-skin.css";
@import "animation.css";

$mainColor: #27ae60; // Material Nephritis
$accentColor: #2ecc71; // Material Emerald
$accentWhite: #f5f5f5;

h1 {
  font-size: 2rem;
}

main {
  padding-top: 1.5rem;
}

.lazy {
  min-height: 1rem;
  display: inline-block;
  max-width: 100%;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.pswp__button--share {
  background-position: -44px -44px;
}

.gallery {
  &.single {
    display: flex;
    align-content: center;

    picture {
      margin: 0 auto;

      img {
        max-height: calc(100vh - 8.7rem);
      }
    }
  }

  &.overview {
    display: flex;
    justify-content: space-evenly;

    picture {
      margin: 1rem;
      max-height: 300px;

      img {
        //TODO make responsive
        max-height: 300px;
      }
    }
  }
}

.navbar {
  @extend .bg-dark;

  a {
    &.nav-link.dropdown-toggle {
      color: white;
      padding-top: 0.7rem;
    }
  }
}

.bg-dark {
  background-color: $mainColor !important;
}

nav {
  a {
    color: $accentWhite;

    &:hover {
      color: white;
    }
  }
}

.pswp__button {
  &.pswp__button--details {
    background-image: url("/static/info-circle.svg");
    background-size: contain;
    transform: scale(0.5);
  }
}