$mainColor: #27ae60; // Material Nephritis
$accentColor: #2ecc71; // Material Emerald
$accentWhite: #f5f5f5;

h1 {
  font-size: 2rem;
}

.lazy {
  min-height: 1rem;
  display: inline-block;
  max-width: 100%;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.gallery {
  &.single {
    display: flex;
    align-content: center;

    picture {
      margin: 0 auto;

      img {
        height: 65vh;

        @media (max-height: 370px) {
          height: 50vh;
        }
        @media (max-height: 400px) {
          height: 55vh;
        }
        @media (max-height: 435px) {
          height: 60vh;
        }
        @media (min-height: 500px) {
          height: 70vh;
        }
      }
    }
  }
}

.bg-dark {
  background-color: $mainColor !important;
}

nav {
  a {
    color: $accentWhite;

    &:hover {
      color: white;
    }
  }
}

main {
  padding-top: 65px;

  .container {

  }
}

.footer {
  background-color: $accentWhite;

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}
