.overview-default {
  .card {
    .card-footer {
      padding: unset;
      padding-bottom: 0.75rem;
      background: unset;
      border-top: unset;
    }

    .card-img-top {
      $h: 50vh;
      height: $h;

      .pic-holder, .lazy, img {
        height: $h;
      }

      .lazy {
        padding-top: unset !important;
      }
    }

    .rs-link-ext.rs-xs.sup {
      color: white;
    }
  }
}