@import "constants";
@import "../css/photoswipe/default-skin.css";
@import "animation.css";
@import "rs";

.btn-primary {
  background-color: $mainColor !important;
  border-color: $mainColor !important;
}

.btn-flex {
  display: flex;
  flex-wrap: wrap;

  a {
    margin: 2.5px;
  }
}

h1 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  a {
    color: black !important;
  }
}

main {
  padding-top: 1.5rem;
  margin-top: 2.5rem;
}

// Ensure correct dimensions of a lazy loaded image
.lazy {
  min-height: 1rem;
  display: inline-block;
  max-width: 100%;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

#gallery {
  display: flex;

  &.single {
    align-content: center;

    picture {
      margin: 0 auto;

      img {
        max-height: $maxImageHeight;
      }
    }
  }

  &.overview {
    justify-content: space-evenly;
    flex-wrap: wrap;

    picture {
      margin: 1rem;
      max-height: 300px;

      img {
        //TODO make responsive
        max-height: 300px;
      }
    }
  }

  picture {
    cursor: pointer;
  }
}

// Allign the subcategories view
.subcategories {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  div {
    max-width: 33.33%;
    min-width: 300px;
    @media (max-width: 660px) {
      min-width: 80%;
    }

    margin: 0.5rem;

    picture {
      margin: 0 auto;
    }
  }
}

// Navbar backgroudn color
.bg-dark {
  background-color: $mainColor !important;
}

// Navbar
.navbar {
  @extend .bg-dark;

  .nav-link {
    color: $accentWhite !important;

    &:hover {
      color: white !important;
    }
  }
}

// Photoswipe added additional button
.pswp__button {
  &.pswp__button--details {
    background-image: url("/static/info-circle.svg");
    background-size: contain;
    transform: scale(0.5);
  }
}

.pswp__button--share {
  background-position: -44px -44px;
}

// Image overview page
#content {
  &.singleImage {
    .card {
      padding: 0.67rem;
      margin-top: 1rem;
    }
  }
}

footer {
  span {
    &.text-muted {
      display: flex;
      justify-content: space-around;
      margin-bottom: 0.5em;
    }
  }

  .socialIcons {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

.dropdown-menu {
  overflow-y: auto;

  max-height: 33.333vh;
}

#carouselIndicator {
  $margin: 20px;
  color: white;

  a {
    &:active {
      color: white;
    }
  }

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: $margin;
  padding-bottom: $margin;

  background: $mainColor;

  .carousel-indicators {
    position: relative;
    margin-top: -7.7vh;
  }

  height: $maxCarouselHeight;
  max-height: $maxCarouselHeight;

  @media only screen and (max-aspect-ratio: 21/31) {
    $portraitHeight: 25vh;
    min-height: 300px;
    height: $portraitHeight;
    max-height: $portraitHeight;
    .carousel-inner {
      max-height: $portraitHeight !important;

      img {
        height: $portraitHeight !important;
        max-height: $portraitHeight !important;
      }
    }

    .carousel-indicators {
      margin-top: -2.7vh;
    }
  }

  .carousel-inner {
    height: $maxCarouselHeight;
    max-height: $maxCarouselHeight;

    .carousel-item {
      height: $maxCarouselHeight;
      max-height: $maxCarouselHeight;

      .carousel-caption {
        position: relative;
        bottom: 8vh !important;
        left: 0;
        right: 0;

        h5 {
          @include stroke(1, black)
        }
      }

      a {
        justify-content: space-between;

        & > div {
          display: flex;
          justify-content: center;
        }

        img {
          height: $maxCarouselImageHeight;
          max-height: $maxCarouselImageHeight;
        }
      }
    }
  }
}

.subcategories {
  .card {
    $h: 33vh;
    min-height: $h;
    max-height: $h;

    img {
      max-height: $h - 10vh;
      margin: 0 auto;
      display: block;
    }
  }
}

p {
  & > img {
    display: block;
    margin: 0 auto;
  }
}

.lazy {
  height: (300/2.5) px;
}

table {
  margin: 0 auto;

  td, th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }

  thead {
    td, th {
      vertical-align: bottom;
      border-bottom: 3px solid #dee2e6;
    }
  }
}