.tag-bar {
    -fx-border-color: lightblue;
    -fx-spacing: 3;
    -fx-padding: 3;
    -fx-max-height: 30;
}

.tag-bar .tag {
    -fx-background-color: #27ae60;
    -fx-border-radius: 5 5 5 5;
}

.tag-bar .tag {
    -fx-text-fill: white;
}

.tag-bar .tag .button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}