a {
  &.invisible {
    color: inherit;
    text-decoration: inherit;
  }
}

h1 {
  @extend .mat-h1
}

h2 {
  @extend .mat-h2
}

h3 {
  @extend .mat-h3
}

h4 {
  @extend .mat-h4
}

h1, h2, h3, h4 {
  text-align: center;
}

p {

}

img, picture {
  object-fit: contain;
}

html {
  overflow-y: hidden;
}

div.fullHeight {
  display: flex;
  flex-direction: column;
  height: 100vh;
}