.fill-remaining-space {
  flex: 1 1 auto;
}

.button-row {
  display: flex;
  justify-content: center;
  padding: 1rem;

  mat-card {
    padding: unset;

    button, a {
      display: table-cell;
      margin-right: 8px;
    }
  }
}

mat-toolbar {
  display: flex;
  margin-bottom: 0rem;
}
