<mat-toolbar color="primary">
  <span *ngIf="kioskName">
     <a class="invisible" [routerLink]="['../..']">{{kioskName}}</a>
    &nbsp;-&nbsp;</span>
  <a class="invisible" [routerLink]="['..', 1]">{{magazinTitle}}</a>
  <span class="fill-remaining-space"></span>
  <mat-form-field *ngIf=" pages.length > currentPageNumber">
    <mat-select [value]="currentPageNumber" (valueChange)="onSelectPageChanged($event)">
      <mat-option *ngFor="let item of pages; let i= index" [value]="i+1">
        Seite {{i + 1}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
<mat-card>
  <mat-card-title>{{currentPageItem.articleTitle}}</mat-card-title>
  <ng-content></ng-content>
</mat-card>
<div class="button-row">
  <mat-card>
    <a *ngIf="currentPageNumber > 1" [routerLink]="['..', 1]" mat-icon-button aria-label="Zur ersten Seite">
      <mat-icon>skip_previous</mat-icon>
    </a>
    <a *ngIf="currentPageNumber > 1" [routerLink]="['..', currentPageNumber - 1]" mat-icon-button
       aria-label="Zur vorherigen Seite">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </a>
    <a *ngIf="currentPageNumber < pages.length" [routerLink]="['..', currentPageNumber + 1]" mat-icon-button
       aria-label="Zur nächsten Seite">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </a>
    <a *ngIf="currentPageNumber < pages.length" [routerLink]="['..', pages.length]" mat-icon-button
       aria-label="Zur letzten Seite">
      <mat-icon>skip_next</mat-icon>
    </a>
  </mat-card>
</div>
