DirectorySlash Off

Require all granted
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*[^/])$ /$1/

RedirectMatch 301  ^/picture/.* https://reisishot.pictures
RedirectMatch 301  ^/index(\.php)?/.* https://reisishot.pictures
RedirectMatch 301  ^/search.php https://reisishot.pictures
