mat-toolbar {
  mat-toolbar-row {
    display: flex;

    &.center {
      justify-content: center;
      align-items: center;
    }
  }
}

.magazinContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: auto;


  .magazinHolder {
    padding-top: 1vw;
    width: 46vw;
    min-height: 300px;
    max-height: 40vh;
    padding-bottom: 2rem;

    &:last-of-type {
      padding-bottom: 5rem;
    }

  }

  ::ng-deep img, picture {
    max-width: 100%;
    max-height: 100%;
  }

  ::ng-deep div.fullHeight {
    height: 100%;
  }
}

@media (orientation: portrait) {
  .magazinHolder {
    width: 100% !important;
    max-height: 85vh !important;
  }
}